<!-- DataTable -->

<div class="container">
  <div>
    <h3>
      Lista de Multipla seleção
    </h3>
    <div style="float: left; width: 80%;">
      <ngx-datatable class="material" [rows]="rows" [columns]="columns" [headerHeight]="50"
        [footerHeight]="50" rowHeight="auto" [limit]="5" [selected]="selected"
        [selectionType]="SelectionType.multiClick" (select)="onSelect($event)">
        <ngx-datatable-column
          *ngFor="let col of columns"
          prop="{{ col.prop }}"
          name="{{ col.name }}"
        >
        </ngx-datatable-column>
        <ngx-datatable-column sortable="false" prop="code" name="Actions">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button class="btn btn-outline-primary mr-1 btn-sm" (click)="edit(row, row.key)">
            Edit
            </button>
            <button class="btn btn-outline-danger mx-1 btn-sm" (click)="delete(row.key)">
              Delete
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>

    <div class="selected-column">
      <h4>Seleções</h4>
      <ul>
        <li *ngFor="let sel of selected">
          {{ sel.name }}
        </li>
        <li *ngIf="!selected.length">Sem seleções</li>
      </ul>
    </div>
  </div>
  <div class=" col d-flex justify-content-end">
    <label class="d-inline-flex p-2 bd-highlight"
      >Cadastrar novos produtos</label>
    <button (click)="goToAddProduct()" class="btn btn-outline-primary md-2">
      Cadastrar
    </button>
  </div>
</div>
