<form (ngSubmit)="onSubmit()">
  <div class="container">
    <h3>Cadastro de Produtos</h3>
    <div class="row">
      <div class="container">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label>Codigo produtos</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="product.code"
              placeholder="Codigo do produto"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="form-group col-md-4">
            <label>Nome</label>
            <input
              [(ngModel)]="product.name"
              type="text"
              class="form-control"
              aria-label="Text input with dropdown button"
              placeholder="Nome do produto"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
          <div class="dropdown col-md-2">
            <div class="form-group">
              <label for="status">Tipo do Produto</label>
              <select
                class="form-control"
                [(ngModel)]="product.dropdown"
                [ngModelOptions]="{ standalone: true }"
              >
                <option
                  *ngFor="let type of types"
                  [value]="type"
                  [selected]="type"
                  >{{ type }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div>
          <label>Valor do Produto</label>
          <div class="input-group md-4">
            <div class="input-group-prepend">
              <span class="input-group-text">R$</span>
            </div>
            <input
              [(ngModel)]="product.value"
              class="form-control"
              type="text"
              aria-label="Amount"
              placeholder="Escreva o valor"
              [ngModelOptions]="{ standalone: true }"
            />
          </div>
        </div>
        <div class="form-group">
          <label>Descrição</label>
          <textarea
            class="form-control"
            [(ngModel)]="product.text"
            rows="2"
            [ngModelOptions]="{ standalone: true }"
            placeholder="Observações do produto"
          ></textarea>
        </div>
        <div class="d-flex justify-content-end">
          
        </div>  
        
        <div class="d-flex justify-content-end">
          <button type="button" (click)="back()" class="btn btn-link">Voltar</button>
          <button type="submit" class="btn btn-outline-primary md-2">
            Confirmar cadastro
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
